@charset "utf-8";
/* CSS Document */

#photo img{
	padding:10px;
	float:right;
	margin-right:40px;
	border:solid #b7ddf2;
	background-color:#ebf4fe
	
}
#dane_uzytkownika{
background-color:#ebf4fe;	
float:right;
width:290px;	
border: solid #b7ddf2;
margin:30px 40px 0 0;
padding: 5px;
	
}

#user_buttons{
margin-top:30px;
float:left;
background-color:#ebf4fe;	
width: 110px;	
border solid background-color:#ebf4fe;
}